html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da viewport */
}

.container {
    flex: 1; /* Permite que o container ocupe o espaço restante */
}

.text-container {
    text-align: center;
    color: floralwhite;
}

footer {
    background-color: #00b573; /* Cor de fundo do rodapé */
    height: 50px; /* Altura do rodapé */
    line-height: 50px; /* Alinhamento vertical do texto */
    text-align: center; /* Centralizar o texto */
    position: fixed; /* Fixa o rodapé na parte inferior */
    bottom: 0;
    width: 100%;
}

.btn-custom {
    background-color: #06a66b !important; /* Cor de fundo do botão */
    color: white !important; /* Texto em branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remover sublinhado do link */
    display: inline-block; /* Garantir estilo de botão */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease !important;
}

    .btn-custom:hover {
        background-color: #004332 !important; /* Escurecer o fundo ao passar o cursor */
    }
