@model IEnumerable<OakTesteTecnico.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<div style="padding: 20px;">
    <h2>Listagem de Produtos</h2>

    <a class="btn-custom" asp-action="Create">Cadastrar Novo Produto</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Valor</td>
                </tr>
            }
        </tbody>
    </table>
</div>
